*{
	padding: 0px;
	margin:0px;
}
/*body,html{
	width: 100%;
	height: 100%;
}*/
/**************header****************/
header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: rgba(00,100,225,0.6);

}

h4{
	color: #fff;
	font: 20px 微软雅黑 bold;
	float: left;
}



header li{
	margin: 5px;


	float: left;
	font-size: 20px;
	height: 25px;
	line-height: 25px;
	letter-spacing: 5px;  /*字间距*/
	font: 15px 微软雅黑;
	width: 100px;
	text-align: center;
	
	border: 1px rgba(90,90,90,0.3) solid;
	border: 10px 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(50,50,50,0.3);

	

}

.qur:hover,.qur:active{
	color: #046;
}

header a{
	color: #fff;
}

/********************************/
body{
	/*background: rgba(20,20,20,0.2);*/
}


nav{
	width: 100%;
	height: 500px;
	/*background: rgba(50,50,50,0.5);*/

}

ul{
	list-style-type: none;  /*去小圆点*/
}

a{
	text-decoration: none;   /*去掉下划线*/
	/*color: #fff;*/
}
nav a{
	color: #fff;
}




/**************footer****************/
footer{
	width: 100%;
	height: 30px;
	margin: 0px auto;
	text-align: center;
	background: rgba(50,80,50.0.5);
}